.dataTableContainer {
  overflow-x: auto;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  border-bottom: 1px solid var(--softest-color);
}

.dataTable {
  width: 100%;
  border-collapse: collapse; /* Removes space between borders */
  text-align: left; /* Align text to the left */
  font-family: Arial, sans-serif; /* Excel-like font */
  place-self: flex-start;
}

/*
#dataTableContent .tableCell:nth-child(6),
#dataTableContent .tableHeader:nth-child(6) {
  background: var(--secondary-color);
  color: white;
}

#dataTableContent .tableCell:nth-child(6) .unitText,
#dataTableContent .tableHeader:nth-child(6) .unitText {
  background: var(--secondary-color);
  color: white;
}
#dataTableContent .tableHeader:nth-child(6) svg {
  fill: var(--softest-color);
} */

.tableRow:hover .tableCell,
.tableRow:hover .unitText {
  background: var(--secondary-color);
  color: white;
}

.dataTable th,
.dataTable td {
  padding: 8px; /* Padding within cells */
  border: 1px solid #ddd; /* Light grey border */
}

.dataTable th {
  background-color: #f2f2f2; /* Light grey background for headers */
  font-weight: bold;
}

/* Zebra striping for rows */
.dataTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for rows */
.dataTable tr:hover {
  background-color: #eaeaea;
}

.card.overviewCard {
  align-items: flex-end;
}

.cardContent.dataTableContent {
  height: calc(100% - 50px);
  margin-bottom: 25px;
  width: 95%;
}

.tableOptions {
  position: absolute;
  top: 0;
  margin-bottom: 10px;
  display: flex;
  place-self: flex-end;
  align-items: center;
  font-size: 25px;
}
.tableOptionsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
  line-height: 1.2em;
  color: var(--secondary-color);
  font-weight: 400;
  font-style: italic;
  place-self: flex-end;
}

.tableOptionsButton {
  margin-left: 0.4em;
  width: 1.6em;
  height: 1.6em;
  font-size: 1em;
  padding: 0px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary-color);
  border: var(--tertiary-color) 0.04em solid;
  border-radius: 0.32em;
  background: #fff5eb;
  transition: color 100ms ease-in-out, background-color 100ms ease-in-out,
    border-color 100ms ease-in-out, filter 50ms ease-in-out;
  box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.1);
}

.unclickableOptionsButton {
  pointer-events: none;
  color: var(--softest-color);
  border: var(--softest-color) 0.04em solid;
  background: white;
  box-shadow: none;
  margin: auto;
}

.tableCell .tableOptionsButton {
  margin: auto;
}

.tableOptionsButton:hover {
  filter: brightness(1.1);
}

.tableOptionsButton:active {
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.6) inset;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.toggledOn {
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.6) inset;
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.cellSizeInsurance {
  color: transparent;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
}

.dataTable td {
  font-size: 13.5px;
}

.dataTable td:not(:first-child) {
  text-align: center;
}

.dataTable .tableHeader {
  position: sticky;
  top: 0;
  z-index: 2; /* Ensures the header is above other content */
  background: white;
  box-shadow: 0px -1px 0px var(--soft-color) inset;
  border-bottom: none;
  border-top: none;
  text-transform: uppercase;
  color: var(--softest-color);
  font-family: "Noto Sans", monospace;
  font-size: 10px;
}

.cardContent.dataTableContent .tableRow {
  background-color: transparent;
  border: none;
}

.cardContent.dataTableContent .tableCell {
  border-bottom: none;
  border-top: none;
}

.tableHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
}

.tableHeaderContent svg {
  font-size: 1.1em;
  fill: var(--tertiary-color);
}

.tableHeaderContent span:first-child {
  font-size: 1.2em;
}

.tableRow .tableCell:not(:first-child) {
  font-family: "Noto Sans", monospace;
  font-weight: 300;
}
.tableRow th:nth-child(1),
.tableRow td:nth-child(1) {
  width: 225px;
  max-width: 225px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  border-left: none;
}

.tableRow th:last-child,
.tableRow td:last-child {
  border-right: none;
}

.tableHeaderContent .carbonDioxide {
  color: var(--softest-color);
  margin-top: 5px;
}

.dataTable tr:hover {
  background-color: transparent;
}

.tableHeader:first-child {
  border-left: none;
}

.tableHeader:last-child {
  border-right: none;
}

/* Styling the scrollbar in Firefox  */
.dataTableContainer {
  scrollbar-color: var(--secondary-color) transparent;
  scrollbar-width: thin;
}

/* Styling the scrollbar in Chrome and Safari */
.dataTableContainer::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.dataTableContainer::-webkit-scrollbar-thumb {
  background-color: var(
    --secondary-color
  ); /* Set thumb color for Chrome and Safari */
  border: 20px solid transparent;
  background-clip: content-box;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.dataTableContainer::-webkit-scrollbar-track {
  background-color: transparent; /* Set track color for Chrome and Safari */
  border-radius: 99px;
}

.cardContent.dataTableContent .unitText {
  font-size: 0.7em;
}

.cardContent.dataTableContent button:focus-visible {
  outline: none;
}

.connectionsCardContainer .tableHeader:not(:first-child) .tableHeaderContent {
  justify-content: center;
}

.tagsContainer .tableRow th:nth-child(1),
.tableRow td:nth-child(1) {
  max-width: none;
}
