@media only screen and (max-width: 1299px) {
  #root {
    --sidebar-width: 170px;
    --topbar-height: 40px;
    --tab-height: 70px;
    --value-wrapper-width: 100px;
    --body-padding: 30px;
  }

  .dataTable .tableHeader {
    font-size: 8px;
  }

  .dataTable td {
    font-size: 11px;
  }

  .averagesContainer {
    font-size: 11px;
  }

  .pieLegacyWrapper {
    font-size: 12px;
  }

  .insightContent {
    font-size: 13px;
  }

  .insightContent .hiiliGradeContainer {
    font-size: 20px;
  }
}
