.pieContainer {
  --color-1: #ff9d35;
  --color-2: #ffc035;
  --color-3: #ffea35;
  --color-4: #e8ff35;
  --color-5: #b8ff35;
  --color-6: #47ff35;
  --color-7: #35ffb3;
  --color-8: #35ffe0;
  --color-9: #35ddff;
  --color-10: #3596ff;
}

.pieSliceWrapper:nth-child(1) svg > * {
  fill: var(--color-1);
}
.pieSliceWrapper:nth-child(2) svg > * {
  fill: var(--color-2);
}
.pieSliceWrapper:nth-child(3) svg > * {
  fill: var(--color-3);
}
.pieSliceWrapper:nth-child(4) svg > * {
  fill: var(--color-4);
}
.pieSliceWrapper:nth-child(5) svg > * {
  fill: var(--color-5);
}
.pieSliceWrapper:nth-child(6) svg > * {
  fill: var(--color-6);
}
.pieSliceWrapper:nth-child(7) svg > * {
  fill: var(--color-7);
}
.pieSliceWrapper:nth-child(8) svg > * {
  fill: var(--color-8);
}
.pieSliceWrapper:nth-child(9) svg > * {
  fill: var(--color-9);
}
.pieSliceWrapper:nth-child(10) svg > * {
  fill: var(--color-10);
}

.pieLegacyWrapper:nth-child(1) .pieLegacyColor {
  background: var(--color-1);
}
.pieLegacyWrapper:nth-child(2) .pieLegacyColor {
  background: var(--color-2);
}
.pieLegacyWrapper:nth-child(3) .pieLegacyColor {
  background: var(--color-3);
}
.pieLegacyWrapper:nth-child(4) .pieLegacyColor {
  background: var(--color-4);
}
.pieLegacyWrapper:nth-child(5) .pieLegacyColor {
  background: var(--color-5);
}
.pieLegacyWrapper:nth-child(6) .pieLegacyColor {
  background: var(--color-6);
}
.pieLegacyWrapper:nth-child(7) .pieLegacyColor {
  background: var(--color-7);
}
.pieLegacyWrapper:nth-child(8) .pieLegacyColor {
  background: var(--color-8);
}
.pieLegacyWrapper:nth-child(9) .pieLegacyColor {
  background: var(--color-9);
}
.pieLegacyWrapper:nth-child(10) .pieLegacyColor {
  background: var(--color-10);
}

.pieSliceWrapper circle {
  filter: drop-shadow(0px -1px 0px rgb(0, 0, 0, 0.5));
}

.pieSliceWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: drop-shadow(0px 0px 3px white);
}

.pieLegacyContainer {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}

.pieLegacyWrapper {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
}

.pieLegacyColor {
  border-radius: 9999px;
  height: 10px;
  width: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7) inset;
  transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out,
    filter 150ms ease-in-out;
}

.pieLegacyWrapper {
  font-size: 14px;
}

.kiloGram {
  font-size: 9px;
}

.pieLegacyTitle {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1em;
}

.pieLegacyAmount {
  font-weight: 600;
  font-size: 1em;
  color: var(--softest-color);
  text-align: right;
  margin-right: 25px;
  width: 100%;
}

.pieLegacyPercent {
  font-weight: 600;
  font-size: 1em;
  color: var(--other-color);
  width: 45px;
  min-width: 45px;
  text-align: right;
}

.pieLegacyColorAndTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
}

.pieChartWrapper {
  width: 200px;
  height: 200px;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  transform: rotate(-90deg);
}

.pieChart {
  background: var(--secondary-color);
  border-radius: 9999px;
  aspect-ratio: 1/1;
  position: absolute;
  width: auto;
  height: 100%;
}

.pieChartShape {
  border-radius: 9999px;
  height: 100%;
  width: 100%;
  background: transparent;
}

.pieSlice {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.pieContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.pieSliceWrapper svg {
  overflow: visible;
  transition: transform 100ms ease-in-out;
  pointer-events: none;
}

.pieSliceWrapper svg:has(.mainShape):hover {
  transform: scale(0.95);
  filter: brightness(1.05);
}

.hoveredLegacy .pieLegacyColor,
.pieLegacyWrapper:hover .pieLegacyColor {
  transform: scale(1.2);
  filter: brightness(1.15);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
}

.pieLegacyWrapper:hover .pieLegacyPercent,
.pieLegacyWrapper:hover .pieLegacyTitle,
.pieLegacyWrapper:hover .pieLegacyAmount {
  color: black;
}

.hoveredLegacy .pieLegacyPercent,
.hoveredLegacy .pieLegacyTitle,
.hoveredLegacy .pieLegacyAmount {
  color: black;
}

.hoveredSlice {
  transform: scale(0.95);
  filter: brightness(1.05);
}

.pieSliceWrapper {
  pointer-events: none;
}

.pieSliceWrapper path {
  transform-box: fill-box;
  pointer-events: all;
  transform-origin: revert;
}
